/** RESET **/
html { box-sizing: border-box; font-size: 16px; }
*, *:before, *:after { box-sizing: border-box; }
body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; }
ol, ul { list-style: none; }
img { max-width: 100%; height: auto; }

/** MAIN CSS */
:root {
    --c1: #8b3419;
}
body {
    font-family: sans-serif;
}
.site-header {
    background: var(--c1);
}
.site-header-container {
    width: 54rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5em;
}
.site-body {
    width: 54rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5em;
}
.entry-item {
    width: 100%;
}
.articles {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.articles article {
    width: 50%;
    padding: 0.5em;
}
@media(min-width:768px) {
    .articles article {
        width: 33.333333%;
    }
}
h1, h2, h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
}
h1 { font-size: 2.75rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.25rem; }
p, .entry-excerpt {
    font-size: 1.125rem;
    text-align: center;
}
p {
    line-height: 1.5;
}
a, a:hover {
    text-decoration: none;
    color: black;
}
.site-header a, .site-header a:hover {
    color: white;
    text-decoration: none;
    line-height: 1;
    font-size: 1.25rem;
    display: block;
    padding: 0.35rem 0;
}
a:hover {
    text-decoration: underline !important;
}